.separacion{
    margin-left: 40px;
}
.agregarCompañia {
    margin-left: auto; /* Esto alinea el div a la derecha */
    margin-right: 20px; /* Ajusta este valor según sea necesario */
  }
  
  .agregarCompañia button {
    /* Agrega cualquier estilo adicional para el botón dentro de .agregarCompañia */
  }

 
  #botonActualizar {
    background-color: rgba(0, 80, 255, 0.7); /* Verde con 50% de opacidad */
    border-radius: 4px; /* Esquinas redondeadas */

  }